body {
    background-color: rgb(20, 20, 20);
    color: rgb(136, 136, 136);
}

#header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Courier New', monospace;
    position: fixed;
    margin-bottom: 10%;
}

#startup {
    animation-duration: 1s;
    animation-name: slideInFromTop;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes slideInFromTop {
    0% {
        transform: translate3d(0, -50%, 0);
        opacity: 0;
      }
    
    50% {
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
}

#homeSel:hover, #aboutSel:hover, #resumeSel:hover, #projectsSel:hover {
    border-bottom: 2px solid green;
}

#titleLink:hover {
    color: green;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#linkLogo {
    width: 55%;
    height: auto;
}