body {
    background-color: rgb(20, 20, 20);
}

#header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Courier New', monospace;
}

#homeSel:hover, #aboutSel:hover, #resumeSel:hover, #projectsSel:hover {
    border-bottom: 2px solid green;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}